* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Noto Sans", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  min-height: 100vh;
  text-rendering: optimizeLegibility;
  background-image: linear-gradient(to right bottom, #f9fafb, #d2d6db);
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 120px 0px;
}

/* Blog card */
.card {
  width: 340px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 1px 2px 0 rgb(0 0 0 / 0.06), 0px 1px 3px 0 rgb(0 0 0 / 0.10);
}

.card-image {
  border-radius: 8px 8px 0 0;
  object-fit: cover;
  align-self: stretch;
}

.card-content {
  padding: 24px 16px;
}

.card-top {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.card-badge {
  padding: 2px 10px;
  width: fit-content;
  display: flex;
  align-items: start;
  background-color: #f0fdf4;
  color: #15803d;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  border-radius: 15px;
  border: #bbf7d0, 1px, solid;
}

.card-header {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #171717;
}

.card-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #525252;
}

.card-button {
  background-color: #ffffff;
  border: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #4338ca;
}

/* Credits */
.credits {
  color: #777;
  position: fixed;
  bottom: 24px;
  left: 24px;
  font-size: 11px;
  text-align: center;
}

.credits a {
  color: #000;
  font-weight: bold;
}
